.users__list {
    width: 100%;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 1rem;
}

.user__info {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.75rem;
    border-radius: 8px;
    width: 100%;
}

.user__info img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: contain;
}


.user__div-name a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(160, 159, 159);
}